@import url("https://fonts.google.com/specimen/Poppins?query=poppins&categoryFilters=Feeling:%2FExpressive%2FCalm");
@import url("https://fonts.google.com/specimen/Montserrat+Alternates?query=Montserrat");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
body {
 
  background-color: #0e1525;
  background-image: url(/asset/images/background-img.jpeg);
  background-position: top center ;
  background-repeat: no-repeat;
  background-attachment: fixed
}
header {
  /* background-image: url(/asset/images/background-img.jpeg); */
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
nav {
  height: 105px;
  padding: 0 50px;
width: 100%;
}

ol,
ul {
  list-style-type: none;
  text-wrap: nowrap;
}

a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding: 0 5px;
  font-weight: 600;
}
.nav_txt a:hover {
  color: red;
  text-decoration: underline red;
}
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 94%;
  height: 95px;
  padding: 20px 0;
}

.logo img {

  
  padding-left: 15px;
  width: 60px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.left_side {
  display: flex;
  justify-content: space-between;
}
.nav_link {
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.nav_txt {
  gap: 20px;
  display: flex;
}

.right_side{
  padding-right: 15px;
}
.social_icon {
  display: flex;
  align-items: center;
}
.social_icon a i {
  color: #ffffff9e;
  font-size: 16px;
  flex-direction: column;
  margin-right: 10px;
  padding-left: 10px;
  flex-wrap: wrap;
  transform: translateY(0px);
  transition: 0.4s;
}

.social_icon a i:hover {
  color: white;
  transform: translateY(-4px);
  transition: 0.3s transform;
}
.right_side {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.button {
  transition: 0.5s background-color;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.205);
  border-radius: 30px;
}
.nav_btn {
  letter-spacing: 2px;
  padding: 18px 30px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  color: white;
}
.button:hover {
  background-color: #fd4766;
  transition: 0.4s background-color;
}

.mobile-btn {
  position: sticky;
  display: none;
  color: rgb(0, 0, 0);
}

.mobile-btn span {
  margin-left: 20px;
  font-size: 30px;
}
/* header section */
.container{
  max-width: 1320px;
  padding: 0 15px;
  margin: auto;
}

.main_txt_box{
  max-width: 1200px;
  height: auto;
  padding: 0 15px;
}
.txt_box{
  max-width: 1200px;
  height: auto;
  padding-top:80px ;
}
 .txt_box p{
  color: #8091a7;
  letter-spacing: 4px;
  margin-bottom:20px ;
}

.txt_box :nth-child(2){
  color: white;
  font-size: 54px;
  font-weight: bold;
  font-family: 'Montserrat+Alternates', sans-serif;
}

.txt_box :nth-child(3){
  color: #fd4766;
  font-size: 54px;
  margin-bottom:20px ;
  font-weight: bold;
  font-family: "Montserrat+Alternates", sans-serif;
}
.txt_box h2{
  color: white;
  font-size: 54px;
  margin-bottom:15px ;
  font-weight: bold;
  font-family: "Montserrat+Alternates", sans-serif;
}

.btn {
  margin-top: 30px;
  width: 16.5%;
}