@import url("https://fonts.google.com/specimen/Poppins?query=poppins&categoryFilters=Feeling:%2FExpressive%2FCalm");
@import url("https://fonts.google.com/specimen/Montserrat+Alternates?query=Montserrat");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
body {
  background-image: url(/asset/images/background-img.jpeg);
  /* width: 100%; */
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section {
  background-color: #0e1525;
}
footer {
  background-color: #091020;
}
.container {
  max-width: 1320px;
  padding: 0 15px;
  margin:  auto;
}


ol,
ul {
  list-style-type: none;
  text-wrap: nowrap;
}

a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding: 0 5px;
  font-weight: 600;
}

nav {
  width: 100%;
  background-color: black;
  /* position: fixed;
  z-index: 1; */
}
.nav_txt a:hover {
  /* color: #fd4766; */
  border-bottom: 2px solid #fd4766;
}
.nav_txt a:active {
  color: #fd4766;
  border-bottom: 2px solid #fd4766;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  height: 90px;
  padding: 15px 0;
}

.logo img {
  padding-left: 15px;
  width: 60px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.left_side {
  display: flex;
  justify-content: space-between;
}
.nav_link {
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.nav_txt {
  gap: 20px;
  display: flex;
}

.right_side {
  padding-right: 15px;
}
.social_icon {
  display: flex;
  align-items: center;
}
.social_icon a i {
  color: #ffffff9e;
  font-size: 16px;
  flex-direction: column;
  margin-right: 10px;
  padding-left: 10px;
  flex-wrap: wrap;
  transform: translateY(0px);
  transition: 0.4s;
}

.social_icon a i:hover {
  color: white;
  transform: translateY(-4px);
  transition: 0.3s transform;
}
.right_side {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.button a {
  padding: 16px 30px;
  text-wrap: nowrap;
  transition: 0.5s background-color;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.205);
  border-radius: 30px;
}
.nav_btn a {
  letter-spacing: 2px;
  padding: 18px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  color: white;
}
.button a:hover {
  background-color: #fd4766;
  transition: 0.4s background-color;
}

.mobile-btn {
  display: flex;
  align-items: center;
  text-align: center;
  display: none;
  color: rgb(255, 255, 255);
}

.mobile-btn span {
  margin-left: 20px;
  font-size: 30px;
}
/* header section */

#main_txt_box {
  max-width: 1200px;
  height: auto;
  padding: 0px;
  padding-bottom: 180px;
}
.txt_box {
  max-width: 1200px;
  height: auto;
  padding-top: 150px;
}
.txt_box p {
  color: #8091a7;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.txt_box :nth-child(2) {
  color: white;
  font-size: 54px;
  font-weight: lighter;

  font-family: fantasy;
}

.txt_box :nth-child(3) {
  color: #fd4766;
  font-size: 54px;
  margin-bottom: 20px;
  font-weight: lighter;
  font-family: fantasy;
}
.txt_box h2 {
  color: white;
  font-size: 54px;
  margin-bottom: 15px;
  font-weight: lighter;
  font-family: fantasy;
}

.btn {
  margin-top: 30px;
  width: 16.5%;
}

/* About Me  section */

#about {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}
.my_image {
  width: 100%;
  height: auto;
  padding: 0px 15px;
}
.my_image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0px 0px 20px #ffff;
  box-shadow: 0px 0px 20px #fd4766;
}

.my_data {
  padding: 0 30px;
  width: 100%;
}
.title_section {
  padding: 20px 0px;
}
.title_section h2 {
  color: white;
  font-weight: bold;
  font-size: 50px;
  margin: 20px 0px;
}
.title_section span {
  padding-bottom: 20px;
  font-weight: 800;
  font-size: 17px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  background-clip: text;
  color: transparent;
}

.title_section p {
  text-wrap: wrap;
  color: #7a8aa0;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.my_skill {
  /* text-wrap: nowrap; */
  margin-top: 25px;
}

.option {
  border: 2px solid white;
  height: auto;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  padding: 10px;
}
.open {
  letter-spacing: 1.5px;
  text-underline-offset: 4px;
  /* border: 2px solid #fd4766; */
  border-left: 2px solid #fd4766;
  border-right: 2px solid #fd4766;
  color: #fd4766;
  border-radius: 40px;
  text-decoration: 2px underline #fd4766;
}

.option a {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 15px;
  padding: 15px 30px;
  text-underline-offset: 4px;
  border-radius: 40px;
}
.option a:hover {
  color: #fd4766;
  border-left: 2px solid #fd4766;
  border-right: 2px solid #fd4766;
  text-decoration: 2px underline #fd4766;
  transition: 0.5s color, 0.5s border-color, 0.5s text-decoration-color;
}

.skill_detail {
  padding-top: 20px;
}

.skill {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
}

.value {
  color: #7a8aa0;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.blank {
  margin-bottom: 20px;

  /* border: 1px solid #7a8aa0; */
  width: 100%;
  height: 5px;
  border-radius: 0 20px 20px 0;
  background-color: white;
}

.fill {
  border-radius: 0 20px 20px 0;
  height: 5px;
  background: linear-gradient(
    190deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
}

.fill1 {
  width: 95%;
}
.fill2 {
  width: 85%;
}
.fill3 {
  width: 75%;
}
.fill4 {
  width: 80%;
}

/* Service section star */
#service_main {
  padding-bottom: 120px;
}
.service_discription {
  margin-bottom: 30px;
  padding: 0 15px;
}

.service_discription span {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 17px;
  background: linear-gradient(
    130deg,
    #1c99fe 45.69%,
    #7644ff 50.19%,
    #fd4766 54.69%
  );
  background-clip: text;
  color: transparent;
}

.service_discription h2 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

.service_discription p {
  margin: auto;
  max-width: 48%;
  text-align: center;
  color: #7a8aa0;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.service_cards {
  margin: auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-template-rows: repeat(2 ,); */
}
.box {
  margin-top: 30px;
  padding: 40px;
  width: 100%;
  height: auto;
  border-radius: 15px;
  background-color: #091020;
  transform: translateY(0px);
  transition: 0.3s;
}

.icon a i {
  font-size: 40px;
  margin-top: 4px;
  margin-bottom: 18px;
}
.service_1 a i {
  color: #fd4766;
}
.service_2 a i {
  color: #337dff;
}
.service_3 a i {
  color: #10aeb8;
}
.service_4 a i {
  color: #59c98d;
}
.service_5 a i {
  color: #6c3fef;
}
.service_6 a i {
  color: #357ff6;
}
.box:hover {
  transform: translateY(-6px);
  transition: 0.3s transform, box-shadow;
  box-shadow: 0px 0px 20px #fd4766;
  /* box-shadow: 0px 0px 10px #ffff; */
}
.Details h3 {
  width: 100%;
  text-wrap: wrap;
  color: white;
  font-size: 22px;
  margin-bottom: 18px;
}
.Details p {
  width: 100%;

  text-wrap: wrap;
  color: #969296;
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 1px;
  word-spacing: 0.1px;
}

/* Project section start */

#projects {
  padding-bottom: 120px;
}
.project_discription {
  margin-bottom: 30px;
  padding: 0 15px;
}

.project_discription span {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 17px;
  background: linear-gradient(
    130deg,
    #1c99fe 45.69%,
    #7644ff 50.19%,
    #fd4766 54.69%
  );
  background-clip: text;
  color: transparent;
}

.project_discription h2 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

.project_discription p {
  margin: auto;
  max-width: 48%;
  text-align: center;
  color: #7a8aa0;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.project_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}

.card-6 {
  height: 550px;
  overflow: hidden;
  border-radius: 10px;
  transform: translateY(0px);
  transition: 0.3s;
  position: relative;
  box-shadow: 0px 0px 15px #fd4766;
}

.card-6:hover {
  transform: translateY(-8px);
  transition: 0.3s transform, box-shadow;
  height: 550px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: none;
  /* box-shadow: 0px 0px 20px #ffff; */
}
.card-6:hover .bg_img {
  transition: 0.6s transform;
  transform: scale(1.1);
}
.bg_img img {
  width: 100%;
  height: 100%;
  transition: 0.6s transform;
  object-fit: cover;
}
/* hover style */
.overlay {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 500px;
  padding: 20px;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
}

.card-6:hover .overlay {
  opacity: 0.7;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, #fd4766);
}

.project-skill {
  color: #b0b9c4;
  font-size: 25px;
  margin-bottom: 10px;
}

.project-title {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.project-subtitle {
  color: white;
  font-size: 20px;
  opacity: 0;
}

.card-6:hover .project-subtitle {
  opacity: 1;
  transform: translateY(0);
  display: block;
}
/* hover style */
.data a {
  font-size: 30px;
  color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.view_project_btn {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  /* padding-bottom: 20px; */
}

.project_button {
  text-wrap: nowrap;
  background-color: #fd4766;
  border-radius: 50px;
  transition: 0.5s background;
  border: 2px solid #fd4766;
  font-size: 15px;
  color: white;
  padding: 20px 40px;
  letter-spacing: 1px;
  transition: 0.5s color;
  font-weight: 500;
}

.project_button:hover {
  background: transparent;
  transition: 0.6s color;
  cursor: pointer;
  color: #fd4766;
  transition: 0.5s background;
  cursor: pointer;
}
/* Latest Post section start */

#latest_post {
  padding-bottom: 120px;
}
.post_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}
.post_description {
  margin-bottom: 30px;
  padding: 0 15px;
}

.post_description span {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 17px;
  background: linear-gradient(
    130deg,
    #1c99fe 45.69%,
    #7644ff 50.19%,
    #fd4766 54.69%
  );
  background-clip: text;
  color: transparent;
}

.post_description h2 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

.post_description p {
  margin: auto;
  max-width: 48%;
  text-align: center;
  color: #7a8aa0;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.card-3 {
  /* position: relative; */
  border-radius: 10px;
  height: 550px;
  overflow: hidden;
  transform: translateY(0px);
  transition: 0.3s;
  box-shadow: 0px 0px 15px #fd4766;
}
.card-3:hover {
  height: 550px;
  overflow: hidden;
  transform: translateY(-8px);
  transition: 0.3s transform, box-shadow;
  box-shadow: none;
}
.card-3:hover .post_img {
  transition: 0.6s transform;
  transform: scale(1.1);
}
/* hover style */
.main_overlay {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 500px;
  padding: 20px;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* text-align: center; */
}

.card-3:hover .main_overlay {
  opacity: 0.7;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, #fd4766);
}

.projectskill {
  color: #fd4766;
  font-size: 20px;
  margin-bottom: 10px;
}

.projecttitle {
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.viewproject a {
  font-weight: 200;
  z-index: 1;
}
.viewproject {
  padding: 10px;
  width: 38%;
  border-radius: 10px;
  border: 2px solid #ffffff50;
  color: white;
  font-size: 10px;
  opacity: 0;
  z-index: 1;
}
.viewproject:hover {
  background-color: #f82b4d !important;
  border: 2px solid #fd4766 !important;
  transition: 0.5s background-color, 0.5s border-color;
  z-index: 1;
}

.card-3:hover .viewproject {
  opacity: 1;
  transform: translateY(0);
  display: block;
}
.card-3:hover .projectskill {
  color: white;
  transition: 0.5s color;
}
.post_img img {
  width: 100%;
  height: 100%;
  transition: 0.6s transform;
  object-fit: cover;
}

/* Hire Me section start */

#hire_me {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-bottom: 120px;
  gap: 30px;
}
.form_section {
  padding: 0 20px;
}
.hire_description {
  margin-bottom: 40px;
}
.hire_description span {
  display: inline-block;
  justify-content: left;
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 17px;
  background: linear-gradient(
    80deg,
    #1c99fe 45.69%,
    #7644ff 50.19%,
    #fd4766 78.69%
  );

  background-clip: text;
  color: transparent;
}

.hire_description h2 {
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

.mobile_no_section span,
.email_section span {
  display: inline-block;
  background: none;
  color: #686d72 !important ;
  font-weight: 200;
  font-size: 15px;
  margin-bottom: 0px;
}

.mobile_no_section a,
.email_section a {
  display: inline-block;
  color: #989ca2;
  font-weight: bold;
  font-size: 18px;
  padding: 0;
  margin: 0px 0px 0px 16px;
}
.mobile_no_section a:hover,
.email_section a:hover {
  color: #fd4766;
}
.email_section {
  margin-top: 8px;
}
form input,
textarea {
  background: transparent;
  border: 2px solid #383e4b;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 0px 20px;
  height: 50px;
  width: 100%;
  font-size: 15px;
  color: white;
}

form input:focus,
form textarea:focus {
  border: none;
  outline: 2px solid #383e4b;
}
textarea {
  color: white;
  padding: 15px 20px 0px 20px;
  height: 120px;
  width: 100%;
}

.submit_button {
  background-color: #fd4766;
  border-radius: 50px;
  transition: 0.5s background;
  border: 2px solid #fd4766;
  font-size: 15px;
  color: white;
  padding: 15px 40px 15px 40px;
  letter-spacing: 1px;
  text-wrap: nowrap;
  transition: 0.5s color;
  font-weight: 500;
  text-align: center;
}

.submit_button:hover {
  background: transparent;
  transition: 0.6s color;
  cursor: pointer;
  color: #fd4766;
  transition: 0.5s background;
  cursor: pointer;
}
.hire_img {
  padding: 0px 20px;
}

.hire_img img {
  box-shadow: 0px 0px 20px #fd4766;
  border-radius: 10px;
  width: 100%;
  order: 1;
  object-fit: cover;
}

/* footer section start */

.footer_section_main {
  padding:0px 10px;
  width: 100%;
}
.footer_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0px;
}

.footer_logo img {
  width: 140px;
}
.footer_social_icon {
  display: flex;

}
.footer_social_icon{
  display: flex;
  justify-content: right;
  align-items: right;
  /* flex-wrap: wrap; */
  padding-top: 10px;
}
.footer_social_icon a i {
  font-size: 16px;
  align-items: center;
  color: #8a8f9e;
  padding: 16px;
  border: 2px solid #8a8f9e;
  border-radius: 15px 0px;
  transform: translateY(0px);
  transition: 0.5s all;
}
.footer_social_icon a :hover {
  color: white;
  border: none;
  background-color: #fd4766;
  border-radius: 0px 15px;
  transform: translateY(-5px);
  transition: 0.5s all;
}
.footer_copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_copyright P {
  text-align: right;
  font-size: 15px;
  color: #969baa;
}
